<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobiblanc.amdie.africa.network">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AfricaNetwork"
        android:allowBackup="false"
        android:icon="@mipmap/africanet"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_traffic_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.AfricaNetwork"
        tools:replace="android:supportsRtl,android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".views.webview.WebViewActivity"/>
        <activity android:name=".views.personalinforamtion.PersonalInformationActivity" />
        <activity android:name=".views.dashboard.contacts.details.ContactDetailsActivity" />
        <activity android:name=".views.cgu.CGUActivity" />
        <activity
            android:name=".views.chat.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".views.settings.SettingsActivity" />
        <activity
            android:name=".views.splashscreen.SplashScreenActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.changelanguage.ChangeLanguageActivity" />
        <activity
            android:name=".views.dashboard.DashboardActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".views.home.HomeActivity" />
        <activity
            android:name=".views.authentication.AuthenticationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" />

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".views.dashboard.profile.MyFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>